@model ReadersChronicle.Models.LoginViewModel

<div class="container">
    <div id="login-container" class="mt-5">
        <h2 class="fw-bold text-uppercase text-center">Login</h2>
        @if (ViewData.ModelState.ErrorCount > 0)
        {
            <div class="alert alert-danger">
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <p>@error.ErrorMessage</p>
                }
            </div>
        }
        <form method="post" action="/Account/Login">
            <div class="form-group py-3">
                @Html.LabelFor(m => m.UserName, new { @class = "pb-1 ps-2" })
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control rounded-pill w-100" })
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
            </div>

            <div class="form-group pb-4">
                @Html.LabelFor(m => m.Password, new { @class = "pb-1 ps-2" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control rounded-pill w-100" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>

            <button type="submit" class="btn btn-primary rounded-pill w-100 mt-2">Login</button>
        </form>
        <p class="text-decoration-underline small text-end pt-4">Forgot your password?</p>
    </div>
    <div class="pt-5" id="create-account">
        <div class="row align-items-center">
            <div class="col-4">
                <hr>
            </div>
            <div class="col-4 text-center">
                <span><h5>New to application?</h5></span>
            </div>
            <div class="col-4">
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <button type="button" id="create-account-button" class="btn btn-light rounded-pill w-100 mt-2"
                        onclick="location.href='@Url.Action("Register", "Account")'">
                    Create an account!
                </button>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <p><a href="@Url.Action("ForgotPassword", "Account")">Forgot your password?</a></p>
            </div>
        </div>
    </div>
</div>

<style>
    #login-container {
        border: solid black 1px;
        padding: 2rem 4rem;
        border-radius: 2rem;
        width: 80vh;
    }

    .btn-primary {
        background-color: grey;
        border: none;
    }

        .btn-primary:hover {
            background-color: dimgrey;
        }

    label {
        color: grey;
    }

    #create-account-button {
        border: grey 1px solid;
    }
</style>
