@model ReadersChronicle.Models.ResetPasswordViewModel
<h2>Reset Password</h2>
@if (ViewData["SecurityQuestion"] != null)
{
    <p>Security Question: @ViewData["SecurityQuestion"]</p>
}
@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
{
    @Html.HiddenFor(m => m.UserNameOrEmail, new { Value = TempData["UserNameOrEmail"] as string })

    <div>
        @Html.LabelFor(m => m.SecurityAnswer)
        @Html.TextBoxFor(m => m.SecurityAnswer)
        @Html.ValidationMessageFor(m => m.SecurityAnswer)
    </div>

    <div>
        @Html.LabelFor(m => m.NewPassword)
        @Html.PasswordFor(m => m.NewPassword)
        @Html.ValidationMessageFor(m => m.NewPassword)
    </div>

    <div>
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword)
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
    </div>

    <button type="submit">Reset Password</button>
}
