@model string

@if (Model == "admin")
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white fw-bold" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Admin Menu
        </a>
        <ul class="dropdown-menu" aria-labelledby="adminDropdown">
            <li><a class="dropdown-item" href="@Url.Action("ViewReviews", "Reviews")">View Reviews</a></li>
            <li><a class="dropdown-item" href="@Url.Action("GetUsers", "Admin")">Manage Users</a></li>
        </ul>
    </li>
}
@if (Model == "user")
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white fw-bold" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            User Menu
        </a>
        <ul class="dropdown-menu" aria-labelledby="userDropdown">
            <li><a class="dropdown-item" href="@Url.Action("WriteReview", "Reviews")">Write a Review</a></li>
            <li><a class="dropdown-item" href="@Url.Action("Index", "Home")">Home</a></li>
            <li><a class="dropdown-item" href="@Url.Action("UserLibrary", "Home")">Your Library</a></li>
            <li><a class="dropdown-item" href="@Url.Action("BookJournal", "Home")">Book Journal</a></li>
            <li><a class="dropdown-item"  href="@Url.Action("Index", "Articles")">Articles</a></li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white fw-bold" href="#" id="userFriendDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            User/Friend Related
        </a>
        <ul class="dropdown-menu" aria-labelledby="userFriendDropdown">
            <li><a class="dropdown-item" asp-controller="Friendship" asp-action="Search">Search Users</a></li>
            <li><a class="dropdown-item" asp-controller="Friendship" asp-action="SentInvites">Sent Invites</a></li>
            <li><a class="dropdown-item" asp-controller="Friendship" asp-action="ReceivedInvites">Received Invites</a></li>
            <li><a class="dropdown-item" asp-controller="Friendship" asp-action="Friends">Friends List</a></li>
        </ul>
    </li>
}